.product-card{
   transition: all 0.3s ease;
}
.product-card:hover{
    transform: scale(1.03);
}
.navbar .nav-link:hover{
    color: #f8d90f;
    transition: 0.2s ease-in-out;
}
body{
    padding-top: 80px;
}